.homeWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 20px;
  margin: 0 auto;
  max-width: var(--max-content-width);
}

.heading {
  margin-top: 0;
  font-size: 2.5em;
  color: var(--text-color);
  text-align: center;
}

.highlight {
  color: var(--highlight-color);
}

.subheader {
  color: var(--secondary-text-color);
  font-size: 1.5em;
  margin-top: 0.5em;
  text-align: center;
}

.bio {
  font-size: 1.1em;
  line-height: 1.6;
  color: #ddd;
  padding: 0 20px;
  margin-top: 20px;
  max-width: 600px;
  text-align: start;
}

.inline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
  max-width: var(--max-content-width);
}

.inline > img {
  width: 100%;
  height: auto;
  max-width: 300px;
  margin-top: 20px;
}

.about {
  display: grid;
  grid-template-areas:
    "mma mma flags playlist"
    "hotdog hotdog notr playlist";
  gap: 20px;
  margin-top: 20px;
  padding: 20px;
}

@media (max-width: 768px) {
  .about {
    grid-template-areas:
      "flags flags"
      "mma mma"
      "hotdog hotdog"
      "notr notr"
      "playlist playlist";
  }
}

@media (min-width: 768px) {
  .inline {
    flex-direction: row-reverse;
  }

  .inline > img {
    width: 50%;
    max-width: none;
    margin-top: 0;
  }
}

/* Make components */

.notrCard {
  background-color: #1b2532;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  padding: 20px;
  grid-area: notr;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  color: #ddd;
  align-self: flex-start;
}
