.wrapper {
    border-radius: 5px !important;
  }
  .wrapper pre {
    overflow: auto;
    font-size: 0.8rem;
  }
  .wrapper code {
    padding: 20px ;
  }
  .wrapper code > div {
    padding: 0px !important;
  }
  
  @media (max-width: 768px) {
    .wrapper pre {
      font-size: 0.5rem; 
    }
  }