.wrapper {
    border-radius: 5px !important;

    font-size: 0.8rem;
    
  }
  .wrapper pre {
    overflow: auto;
  }
  .wrapper code {
    padding: 20px ;
  }
  .wrapper code > div {
    padding: 0px !important;
  }
  
  @media (min-width: 768px) {
    .wrapper {
      font-size: 1.2rem; 
    }
  }